# Rendered by the `{{ node_common_role_name }}` Ansible role at /etc/default/{{ node_common_selfcheck_name }}; edit
# infra/ansible/roles/node_common/templates/selfcheck.env.j2 and re-converge.
{{ node_common_selfcheck_env_var }}={{ node_common_selfcheck_env_value }}
